{@com.github.mkouba.ddmwi.CreatureView creature}
{@int creatureIndex}

<div class="col">
    <div class="card creature-card">
        <div class="card-header">
            <div>
                {#if creature.name.length > 23}
                <span title="{creature.name}">{creature.name.substring(0,23)}...</span>
                {#else}
                {creature.name}
                {/if}
                <div class="float-end">
                    {#alignment creature.alignment /}
                </div>
            </div>
            <div class="level">
                {#each creature.keywordsList}
                {it}
                {#if it_hasNext}{#separator /}{/if}
                {/each}
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-3">
                    <table class="table table-sm table-borderless table-striped w-25">
                        <tr>
                            <td class="text-center stat">LEVEL<br>{creature.level}</td>
                        </tr>
                        <tr>
                            <td class="text-center stat">HP<br>{creature.hp}</td>
                        </tr>
                        <tr>
                            <td class="text-center stat">SPEED<br>{creature.speed} {#if creature.isFlying}&nbsp;<span
                                    title="Flying"><i class="fas fa-feather"></i></span>{/if}</td>
                        </tr>
                        <tr>
                            <td class="text-center stat">AC<br>{creature.ac}</td>
                        </tr>
                        <tr>
                            <td class="text-center stat">FORT<br>{creature.fort}</td>
                        </tr>
                        <tr>
                            <td class="text-center stat">REF<br>{creature.ref}</td class="text-center">
                        </tr>
                        <tr>
                            <td class="text-center stat">WILL<br>{creature.will}</td>
                        </tr>
                        <tr>
                            <td class="text-center stat">{#each creature.factions}<div class="mt-1">{#faction it /}</div>
                                {/each}</td>
                        </tr>

                    </table>
                </div>
                <div class="col-9">
                  <div class="btn-group power-btn-group" role="group">
                    <button class="btn btn-sm btn-outline-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#attacks{#if warbandSelected??}_w{/if}_{creatureIndex}" aria-expanded="false" aria-controls="attacks_{#if warbandSelected??}_w{/if}{creatureIndex}" title="Attacks">
                        &nbsp;<i class="fas fa-bolt"></i>
                    </button>
                    {#if creature.generalPowers}
                    <button class="btn btn-sm btn-outline-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#powers{#if warbandSelected??}_w{/if}_{creatureIndex}" aria-expanded="false" aria-controls="powers_{#if warbandSelected??}_w{/if}{creatureIndex}" title="Powers">
                        <i class="fas fa-magic"></i>
                    </button>
                    {/if}
                    {#if creature.isChampion}
                    <button class="btn btn-sm btn-outline-secondary" type="button" data-bs-toggle="collapse"  data-bs-target="#champs{#if warbandSelected??}_w{/if}_{creatureIndex}" aria-expanded="false" aria-controls="champs_{#if warbandSelected??}_w{/if}{creatureIndex}" title="Champion powers">
                       <i class="fas fa-medal"></i>
                    </button >
                    {/if}
                    <button class="btn btn-sm btn-outline-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#setInfo{#if warbandSelected??}_w{/if}_{creatureIndex}" aria-expanded="false" aria-controls="setInfo{#if warbandSelected??}_w{/if}_{creatureIndex}" title="Set">
                        <i class="fas fa-box"></i>
                    </button>
                  </div>
                  
                  <div class="collapse show" id="attacks{#if warbandSelected??}_w{/if}_{creatureIndex}">
                    <div class="card card-body power-card attacks-power-card">
                        <ul class="powers">
                            {#each creature.attacks}
                            <li>{#creaturePowerLimit limit=it.usageLimit /}{it.filteredText.raw}</li>
                            {#else}
                            <li>No attacks</li>
                            {/each}
                        </ul>
                    </div>
                  </div>
                  
                  {#if creature.generalPowers}
                  <div class="collapse" id="powers{#if warbandSelected??}_w{/if}_{creatureIndex}">
                    <div class="card card-body power-card powers-power-card">
                        <ul class="powers">
                            {#each creature.generalPowers}
                            <li>{#creaturePowerLimit limit=it.usageLimit /}{it.filteredText.raw}</li>
                            {#else}
                            <li>No powers</li>
                            {/each}
                        </ul>
                    </div>
                  </div>
                  {/if}
                  
                  {#if creature.isChampion}
                  <div class="collapse" id="champs{#if warbandSelected??}_w{/if}_{creatureIndex}">
                    <div class="card card-body power-card champs-power-card">
                        <ul class="powers">
                            {#each creature.championPowers}
                            <li>{it.text}</li>
                            {#else}
                            <li>No champion powers</li>
                            {/each}
                        </ul>
                    </div>
                  </div>
                  {/if}
                  
                  <div class="collapse" id="setInfo{#if warbandSelected??}_w{/if}_{creatureIndex}">
                    <div class="card card-body power-card set-power-card text-muted">
                       {creature.setInfo}
                       <a href="https://www.google.com/search?q={creature.searchQuery}&tbm=isch" class="btn btn-outline-secondary btn-sm mt-2" target="_blank">Search images&nbsp;&nbsp;<i class="fas fa-external-link-alt"></i></a>
                    </div>
                  </div>
                
                </div>
            </div>
        </div>
        <div class="card-footer text-muted">
            {#if !warband?? && user:isAdmin}
            <div class="cardFloatLeft">
            <a class="btn btn-sm btn-secondary"
                href="/creature-detail/{creature.creatureId}{#if warband??}?warbandId={warband.id}{/if}" role="button"
                title="Edit"><i class="far fa-edit"></i></a>
            </div>
            {/if}
            {#if warband??}
            {#if warbandSelected??}
            <form method="post" action="/warband-detail/{warband.id}/remove-creature/{creature.id}"
                class="cardFloatLeft">
                <input type="hidden" name="queryStr" value="q={query}&sortBy={sortInfo.encodedSelected}&page={page.index}">
                <button class="btn btn-sm btn-secondary" title="Remove">
                    <i class="fas fa-user-minus"></i>
                </button>
            </form>
            {#else if warband.canAddCreature}
            <form method="post" action="/warband-detail/{warband.id}/add-creature/{creature.creatureId}"
                class="cardFloatLeft">
                <input type="hidden" name="queryStr" value="q={query}&sortBy={sortInfo.encodedSelected}&page={page.index}">
                <button class="btn btn-sm btn-secondary" title="Add to the warband">
                    <i class="fas fa-user-plus"></i>
                </button>
            </form>
            {/if}
            {/if}
            {#if !warbandSelected??}
            <div class="cardFloatLeft">
                <button class="btn btn-sm {#if creature.isAvailable}btn-secondary{#else}btn-outline-secondary{/if}"
                    onclick="toggleCollection({creature.creatureId})" id="toggle-btn_{creature.creatureId}"
                    title="{#if creature.isAvailable}Click to remove from your collection{#else}Click to add to your collection{/if}">
                    <i class="fas {#if creature.isAvailable}fa-toggle-on{#else}fa-toggle-off{/if}"
                        id="toggle_{creature.creatureId}"></i>
                </button>
            </div>
            {/if}
            <div class="cardFloatRight">
                &nbsp;<span class="badge rounded-pill bg-secondary" title="Cost">{creature.cost}</span>
            </div>
            <div class="cardFloatRight">
                {#champion creature.championRating /}
            </div>
        </div>
    </div>
</div>