{@com.github.mkouba.ddmwi.Creature$Faction faction}
{#when faction}
  {#is BORDERLANDS}<span class="badge bg-borderlands rounded-pill fs-6" title="Borderlands"><img src="/img/borderlands.png"/></span>
  {#is CIVILIZATION}<span class="badge bg-civilization rounded-pill fs-6" title="Civilization"><img src="/img/civilization.png"/></span>
  {#is UNDERDARK}<span class="badge bg-underdark rounded-pill fs-6" title="Underdark"><img src="/img/underdark.png"/></span>
  {#is WILD}<span class="badge bg-wild rounded-pill fs-6" title="Wild"><img src="/img/wild.png"/></span>
{/when}