{@com.github.mkouba.ddmwi.dao.PageResults<com.github.mkouba.ddmwi.Warband> page}
{@String hxTarget}
{@String hxGet}

{#if page.isEmpty}
<p>No warbands found. Create a <a href="/warband-detail">new one</a>!</p>
{#else}
<p>Found: <strong>{page.count}</strong></p>

<div class="row row-cols-auto mb-2">
{#for warband in page.results}
    <div class="col">
    <div class="card warband-card">
            <div class="card-header">
                <div class="warband-name">
                    {#if warband.name.length > 30}
                    <span title="{warband.name}">{warband.name.substring(0,30)}...</span>
                    {#else}
                    {warband.name}
                    {/if}
                </div>
            </div>
            <div class="card-body">
                  <div class="row">
                  <div class="col-12">
                      {#if warband.freestyle}
                      <div class="progress mt-2 mb-2" style="height:2rem;">
                        <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" title="{warband.totalCost} points used">
                        {warband.totalCost}
                        </div>
                      </div>
                      {#else}
                      <div class="progress mt-2 mb-2" style="height:2rem;">
                        <div class="progress-bar bg-danger" role="progressbar" style="width: {warband.pointsLimitPercentage}%" aria-valuenow="{warband.pointsLimitPercentage}" aria-valuemin="0" aria-valuemax="100" title="{warband.totalCost} points used from the limit {warband.pointLimit.value}">
                        {warband.totalCost}
                        </div>
                        <div class="progress-bar bg-secondary bg-opacity-50" role="progressbar" style="width: {warband.pointsRemainingPercentage}%" aria-valuenow="{warband.pointsRemainingPercentage}" aria-valuemin="0" aria-valuemax="100" title="{warband.remainingPoints} points remaining">
                        {warband.remainingPoints}
                        </div>
                      </div>
                      {/if}
                        {#if warband.creatures}
                            <ol class="creatures mt-2">
                                {#each warband.creatures}
                                <li>
                                    <span class="creature-name">{it.name}</span> 
                                    &nbsp;<span class="badge rounded-pill bg-secondary" title="Cost">{it.cost}</span>
                                    {#if it.isChampion}{#champion rating=it.championRating style="color:gray;" /} {/if}
                                    {#if it.isEvil}<span class="badge rounded-pill bg-dark">Evil</span>{#else if it.isGood}<span class="badge rounded-pill bg-light text-dark">Good</span>{/if}
                                    </li>
                                {/each}
                            </ol>
                            <div>
                            {#factions factions=warband.baseFactions /}
                            </div>
                            <div class="mt-2" title="{warband.creatures.size} creatures used">
                                &nbsp;<i class="fas fa-dragon"></i>&nbsp;
                                {warband.creatures.size}{#if !warband.freestyle}/{warband.creaturesLimit}{/if}
                             </div>
                        {#else}
                            <p>No creatures.</p>
                        {/if}
                    </div>
                  </div>
                  {#if warband.note}
                  <div class="collapse" id="note_{warband_index}">
                    <div class="card card-body power-card note-power-card">
                    <p>{warband.note}</p>
                    </div>
                  </div>
                  {/if}
                  
                  </div>
                
            <div class="card-footer text-muted">
                <div class="float-start">
                    <a class="btn btn-sm btn-secondary" href="/warband-detail/{warband.id}" role="button" title="Edit">
                    <i class="far fa-edit"></i>
                    </a>
                </div>
                <form method="post" class="float-end" style="margin:0;" action="/warband-detail/{warband.id}/delete" class="row g-3">
                    <button type="submit" class="btn btn-sm btn-secondary" title="Delete"><i class="fa fa-trash"></i></button>
                </form>
            </div>
        </div>
    </div>
    {/for}
</div>

{#pages page hxGet hxTarget /}

{/if}