<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/fontawesome/all.min.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
    <title>D&D Minis Warband Incubator - {#insert title /}</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/" title="{app:version}"><i class="fa fa-dice-d20"></i> &nbsp; Warband Incubator</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarNavAltMarkup">
                {#if user:signedIn}
                <div class="navbar-nav">
                    <div class="nav-item btn-group">
                        <a class="btn btn-dark bg-nav-dropdown" role="button" href="/creature-list">Creatures</a>
                        <button type="button" class="btn btn-dark bg-dropdown-btn dropdown-toggle dropdown-toggle-split"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="visually-hidden">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li><a class="dropdown-item" href="/collection/export" role="button" title="Export my collection to a JSON file"><i class="fas fa-file-export"></i>&nbsp; Export collection</a></li>
                            <li><a class="dropdown-item" href="/collection/import" role="button" title="Import my collection from a JSON file"><i class="fas fa-file-import"></i>&nbsp; Import collection</a></li>
                        </ul>
                    </div>
                    <span class="navbar-text">
                    &nbsp;
                    </span>
                    <div class="nav-item btn-group">
                        <a class="btn btn-dark bg-nav-dropdown" role="button" href="/warband-list">Your warbands</a>
                        <button type="button" class="btn btn-dark bg-dropdown-btn dropdown-toggle dropdown-toggle-split"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="visually-hidden">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li><a class="dropdown-item" href="/warband-detail">New warband</a></li>
                            <li><a class="dropdown-item" href="/warbands/export" role="button" title="Export all warbands to a JSON file"><i class="fas fa-file-export"></i>&nbsp; Export warbands</a></li>
                            <li><a class="dropdown-item" href="/warbands/import" role="button" title="Import warbands from a JSON file"><i class="fas fa-file-import"></i>&nbsp; Import warbands</a></li>
                        </ul>
                    </div>
                    {#if user:isAdmin}
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Admin
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark">
                                <li><a class="dropdown-item" href="/dashboard">Dashboard</a></li>
                                <li><a class="dropdown-item" href="/creature-detail">New creature</a></li>
                                <li><a class="dropdown-item" href="/creatures/import">Import creatures</a></li>
                                <li><a class="dropdown-item" href="/users">Users</a></li>
                            </ul>
                        </li>
                    </ul>
                    {/if}
                </div>
                <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                {user:name}
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end">
                                <form action="/logout" method="POST">
                                    <button type="submit" class="dropdown-item">Sign out</button>
                                </form>
                            </ul>
                        </li>
                </ul>
                {/if}
            </div>
    </nav>

    <div class="container-fluid main-container">
        <h1>{#insert title /}</h1>
        {#insert content /}
    </div>

    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/htmx.min.js"></script>
    <script>
        {#insert script /}
    </script>
</body>

</html>