{#include base}
{#title}Your warbands{/title}
{#content}

{#filters sortInfo quickFilters=warband:quickFilters hxGet="/warband-list/page" hxTarget="#warbands" /}

<div id="warbands">
{#warbandCards page hxGet="/warband-list/page" hxTarget="#warbands" /}
</div>

{#script}
const buttonClear = document.querySelector("#buttonClear");
const queryInput = document.querySelector("#inputFilter");

if (buttonClear) {
   buttonClear.addEventListener('click', clearQuery); 
}

function clearQuery() {
   queryInput.value = '';
}

function appendToQuery(val) {
queryInput.value = queryInput.value + ' ' + val;
updateQuery();
}

{/include}